@font-face {
  font-family: "Geist Sans";
  src: local("Geist Sans");
  font-display: swap;
}
@font-face {
  font-family: "Geist Mono";
  src: local("Geist Mono");
  font-display: swap;
}
:root {
  --font-geist-sans: "Geist Sans", ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  --font-geist-mono: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}
